<!DOCTYPE html>
<html>
<head>
    <title>Add Course ~ Elecsoft Consulting</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>

  <!-- Form -->
    <section>
      <h3>Add Course Here</h3>
      <form method="post" action="/admin/addACourse" id="adminCourseForm">
        <div class="row uniform 50%">
          <div class="6u 12u$(xsmall)">
            <input type="text" name="date" id="name" class="date" value="" placeholder="Date (DD/MM/YYYY)" required />
          </div>
          <div class="6u$ 12u$(xsmall)">
            <input type="text" name="url" id="email" class="url" value="" placeholder="Link to the Event" required/>
          </div>
          <div class="6u$ 12u$(xsmall)">
            <input type="text" name="title" id="email" class="title" value="" placeholder="Title here" required />
          </div>
          <div class="12u$">
            <textarea name="description" id="message" class="description" placeholder="Enter the description" rows="6" required></textarea>
          </div>
          <div class="12u$">
            <ul class="actions">
              <li><input type="submit" value="Add course" class="special" /></li>
              <li><input type="reset" value="Reset" /></li>
            </ul>
          </div>
        </div>
      </form>
    </section>

    <section id="thanksss"></section>

    <!-- Scripts -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/skel.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</body>
</html>
