<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard ~ Elecsoft Consulting</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

  <div class="12u$" style="margin-left: 30em;">
    <ul class="actions">
      <li><a class="button special" href="/admin/course">Add Course</a></li>
      <li><a class="button special" href="/admin/templates">Do some template stuff</a></li>
    </ul>
  </div>

      <!-- Scripts -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/skel.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</body>
</html>
