<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard ~ Elecsoft Consulting</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>

  <header id="header">
    <h1><strong><a href="/">Elecsoft Consulting</a></strong></h1>
    <nav id="nav">
      <% if (admin) {%>
      <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/admin/adminDashboard">Dashboard</a></li>
        <li><a href="/admin/course">Add a Course</a></li>
        <li><a href="/admin/templates">Template Stuff</a></li>
        <li><p>Hello, admin!</p></li>
      </ul>

      <%}%>
    </nav>
  </header>

  <div class="12u$" style="margin-left: 30em;">
    <ul class="actions">
      <li><a class="button special" href="/admin/course">Add Course</a></li>
      <li><a class="button special" href="/admin/templates">Do some template stuff</a></li>
    </ul>
  </div>

      <!-- Scripts -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/skel.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</body>
</html>
