<!DOCTYPE HTML>
<!--
ElecSoft Consulting. Taking care of all your web needs.
-->
<html>
	<head>
		<title>QA consulting, web design and development ~ ElecSoft Consulting</title>
		<meta charset="utf-8" />
    <meta content="ElecSoft Consulting. Taking care of all your web needs. We are a QA consulting company that helps clients test their software, develop custom software, web applications and websites. We also provide SEO or Search Engine Optimization services along with SMM or Social Media Marketing. When you work with us, we guarantee your satisfaction.">
    <meta name="google-site-verification" content="nvQB9zu1_0Li1sFLF1g5aFRhtCECJ1btx7cZpw5kTc4" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1 style="position: fixed; color: blue;"><strong><a href="/">ElecSoft Consulting</a></strong></h1>
<!-- 				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/generic">Generic</a></li>
						<li><a href="/elements">Elements</a></li>
					</ul>
				</nav> -->
			</header>

<!-- 			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a> -->

		<!-- Banner -->
			<section id="banner">
				<h2>ElecSoft Consulting</h2>
				<p>Taking care of all your web needs.</p>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>What We Do</h2>
									<p>Trust us. We won't let you down.</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>In short, we help businesses achieve their goals. We do this by talking to our clients and understanding their needs and goals. We understand that each business has unique sets of challenges. We will suggest the solutions most suitable for your needs without pushing all of our services on to you.</p>
								<p>In everything we do, we use the best practices to ensure highest level of quality is achieved. If you’re not satisfied with how we’ve helped you, you better let us know!</p>
							</div>
						</div>
					</div>
				</section>


      <!-- Three -->
        <section id="three" class="wrapper style1" style="background-color: #eee;">
          <div class="container">
            <header class="major special">
              <h2>Our Services</h2>
              <p>Everything under the same umbrella.</p>
            </header>
            <div class="feature-grid">
              <div class="feature">
                <div class="image rounded"><img src="/images/web-design-development.jpg" alt="web design and development" /></div>
                <div class="content">
                  <header>
                    <h4>Web Design and Development</h4>
                    <p>We understand how important you website is to your business.</p>
                  </header>
                  <p>We aim to design clean and functional sites that comply with SEO standards of all search engines and your specific needs.</p>
                </div>
              </div>
              <div class="feature">
                <div class="image rounded"><img src="/images/software-testing.jpg" alt="software testing" /></div>
                <div class="content">
                  <header>
                    <h4>Software Testing</h4>
                    <p>We bring with us, 15 years of experience.</p>
                  </header>
                  <p>We will work with stakeholders to ensure we fully understand the functional requirements, create testing plans and detail oriented test execution to deliver unbeatable software quality.</p>
                </div>
              </div>
              <div class="feature">
                <div class="image rounded"><img src="/images/qa-consulting.jpg" alt="QA consulting" /></div>
                <div class="content">
                  <header>
                    <h4>QA Consulting</h4>
                    <p>We will provide fact and experience based recommendations.</p>
                  </header>
                  <p>We will help you improve your testing process. If your organization currently does not have any specific processes, our experts will help you establish processes to ensure quality is integrated in your software development lifecycle.</p>
                </div>
              </div>
              <div class="feature">
                <div class="image rounded"><img src="/images/software-development.jpg" alt="software development" /></div>
                <div class="content">
                  <header>
                    <h4>Software Development</h4>
                    <p>Our software will help you unlock profits for years to come.</p>
                  </header>
                  <p>Our team of software engineers will analyze your business requirements and provide a solution using the most suited software platforms. We pride ourselves on development with the best documentation to easily allow for migration and scalability.</p>
                </div>
              </div>
              <div class="feature">
                <div class="image rounded"><img src="/images/search-engine-optimization.jpg" alt="seo search engine optimization" /></div>
                <div class="content">
                  <header>
                    <h4>Search Engine Optimization</h4>
                    <p>Being found on the internet is tricky. Let our experts help.</p>
                  </header>
                  <p>We specialize in knowing the latest search terms and techniques to keep your site at the top of organic search results. We can provide solutions and metrics that will help track visitors and click throughs to help maximize your marketing efforts.</p>
                </div>
              </div>
              <div class="feature">
                <div class="image rounded"><img src="/images/social-media-marketing.jpg" alt="ssm social media marketing" /></div>
                <div class="content">
                  <header>
                    <h4>Social Media Marketing</h4>
                    <p>We can help you grow your business in the most effective way.</p>
                  </header>
                  <p>Our social media experts will help your business build a larger social network and a stronger online presence by using a range of platforms and keeping your business active with regular posts and updates.</p>
                </div>
              </div>
            </div>
          </div>
        </section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special" style="background-color: #fff;">
					<div class="container">
						<header class="major">
							<h2>Our Work</h2>
							<p>We have deployed our work at enterprise level companies.</p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="/images/bell-logo.jpg" alt="QA client logo" style="height: 300px;"/>
									<h3>We have worked for Bell.</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="/images/cgiLogo.jpg" alt="QA client logo" />
									<h3>We have worked for CGI</h3>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><a class="button big testimonial">Testimonials</a></li>
						</ul>
					</div>
          <div id="testimonial">
            <p><blockquote>"I have used the services of Elecsoft for the past 10 years to ensure the quality of projects under my portfolio at Bell. The team at Elecsoft has always been professional, supportive, and extremely diligent in making sure my vendor development teams are producing the highest quality software. They always operate with full trasparency and help give me the sense of confidence I demand on large scale projects. Above all, the team at Elecsoft is multi-talented and is always there to lend a hand in all areas of project development. Their approach to align with their clients' goals has gained them a lot of trust, and their commitment to those goals has resulted in very happy clients."</blockquote> ~ <b>Director, Bell Canada</b></p>

            <p><blockquote>"The staff at Elecsoft provided professional high quality results for our website. I worked closely with Elecsoft team member to have the site designed and developed. Not only did Elecsoft implement our ideas, but they also provided very useful recommendations for improving the quality and functionality of our site. I would not hesitate to recommend Elecsoft. We are currently working with Elecosft to design and develop more websites for us." </blockquote> ~ <b>Kentech Automation</b></p>
          </div>
				</section>



		<!-- Four -->
			<section id="four" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2>Get in touch with us.</h2>
						<p>Have a project you want to bring to reality? Contact us and see how quick we get the job done.</p>
					</header>
					<section>
						<form method="post" action="/mail" class="mailForm" style="color: white;">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input type="text" name="name" id="name" value="" placeholder="Name" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input type="email" name="email" id="email" value="" placeholder="Email" />
								</div>
								<div class="12u$">
									<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
								</div>
								<div class="12u$">
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="special mail" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</div>
							</div>
						</form>
					</section>
          <div id="ThanksForMail"></div>
				</div>
			</section>

      <section class="wrapper style2 special">
        <div class="container">
          <header class="major">
            <h2>Our Team</h2>
            <p>We are a small group of hard workers, dedicated to meeting the standards of the people we work with and our own.</p>
          </header>
          <section class="feature-grid">
            <div class="feature" style="float: left;">
              <div class="image rounded"><img src="/images/pic04.jpg" alt="" /></div>
              <div class="content">
                <header style="vertical-align: middle;">
                  <h4><a href="https://www.linkedin.com/in/raman-lehal-pmp-85475916">Raman Lehal</a></h4>
                  <p>President and CEO</p>
                </header>
              </div>
            </div>

            <div class="feature" style="float: right;">
              <div class="image rounded"><img src="/images/pic05.jpg" alt="" /></div>
              <div class="content">
                <header style="vertical-align: middle;">
                  <h4><a href="https://www.linkedin.com/in/nayan-patel-7b178114/">Nayan Patel</a></h4>
                  <p>Vice President and Head of Consulting</p>
                </header>
              </div>
            </div>

            <div class="feature" style="float: left;">
              <div class="image rounded"><img src="/images/pic04.jpg" alt="" /></div>
              <div class="content">
                <header style="vertical-align: middle;">
                  <h4>Jimmy Xu</h4>
                  <p>Web Master</p>
                </header>
              </div>
            </div>

            <div class="feature" style="float: right;">
              <div class="image rounded"><img src="/images/pic05.jpg" alt="" /></div>
              <div class="content" style="vertical-align: middle;">
                <header>
                  <h4>Parth Patel</h4>
                  <p>Web Master</p>
                </header>
              </div>
            </div>

          </section>
        </div>
      </section>


		<!-- Footer -->
			<footer id="footer" style="background-color: #fff;">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com" class="icon fa-facebook"></a></li>
						<li><a href="https://www.linkedin.com/" class="icon fa-linkedin"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; ElecSoft Consulting. All right reserved.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
